body{
    margin: 0;

}


.pencarian{
    margin-top: 10px;
    margin-left: 100px;
}

img{
    margin-left: 100px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    text-align: right;
    justify-content: right;
    line-height: 10px;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.sidebar{
    position: fixed;
    left: -300px;
    width: 300px;
    height: 120%;
    background-color: #E6E6E6;
    transition: all .5s;
    margin-top: -100px;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #E6E6E6;
    user-select: none;

}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255.1);
    border-bottom: 1px solid #E6E6E6;
    transition:.4s;
}

ul li:hover{
    padding-left: 20px;
    transition:.4s;
}

#check{
    display: none;
}

label #btn{
    position: absolute;
    cursor: pointer;
    background: #ffffff;
    border-radius: 3px;
    left: 40px;
    top: 25px;
    font-size: 40px;
    color: white;
    padding: 6px 12px;
}


label #cancel{
    position: absolute;
    cursor: pointer;
    background: #000000;
    border-radius: 3px;
}


label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #ffffff;
    padding: 4px 9px;
    transition: all .5s ease;
    
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 300px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 195px;
}

#check:checked ~ section{
    margin-left: 300px;
    transition: .5s;
}
header p{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    color: #000000;
}
header img{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.contact p{
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
}
p{
    letter-spacing: 2px;
    line-height: 50px;
    margin-left: 200px;
    font-size: 20px;
}

section{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  #D9D9D9 42%, #c4c4c4 93.6% );
    height: 600px;
    width: 1000px;
    margin-left: 250px;
    border-radius: 30px;
}