body{
    margin: 0;

}


.pencarian{
    margin-top: 10px;
    margin-left: 100px;
}

img{
    margin-left: 100px;
    margin-top: 0px;
    width: 30px;
    height: 30px;
    text-align: right;
    justify-content: right;
    line-height: 10px;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.sidebar{
    position: fixed;
    left: -300px;
    width: 300px;
    height: 120%;
    background-color: #E6E6E6;
    transition: all .5s;
    margin-top: -20px;
}

.sidebar header{
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-align: left;
    line-height: 70px;
    background: #E6E6E6;
    user-select: none;

}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255.1);
    border-bottom: 1px solid #E6E6E6;
    transition:.4s;
}

ul li:hover{
    padding-left: 20px;
    transition:.4s;
}

#check{
    display: none;
}

label #btn{
    position: absolute;
    cursor: pointer;
    background: #ffffff;
    border-radius: 3px;
    left: 40px;
    top: 25px;
    font-size: 40px;
    color: white;
    padding: 6px 12px;
}


label #cancel{
    position: absolute;
    cursor: pointer;
    background: #000000;
    border-radius: 3px;
}


label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #ffffff;
    padding: 4px 9px;
    transition: all .5s ease;
    
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 300px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 195px;
}

#check:checked ~ section{
    margin-left: 300px;
    transition: .5s;
}
header p{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    color: #000000;
}
header img{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.headerisi1{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 200px;
    height: 50px;
}
.headerisi1 input {
    width: 650px;
    height: 40px;
    background-color: #9BBEC8;
    font-size: 20px;
}
.headerisi1 button{
    width: 80px;
    height: 40px;
    margin-left: 30px;
    background-color: #9BBEC8;
}
.headerisi1 button:hover{
    background-color: #427D9D;
}
.headerisi{
    display: inline-flex;
    margin-top: 100px;
    font-size: 20px;
    height: 300px;
}
.tulisan{
    width: 650px;
    height: 240px;
    margin-left: 60px;
    margin-top: 10px;
    letter-spacing: 2px;
}
.gambar img{
    width: 250px;
    height: 250px;
}
.nama{
    margin-bottom: 40px;
}
.beli{
    text-align: center;
    width: 180px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #E6E6E6;
    padding:10px;
    margin-top:110px;
}
.beli a{
    color: #000000;
}
.beli:hover{
    background-color: #848383;
}
.penjual{
    display: inline-flex;
}
.penjual img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #b1b1b1;
}
.identitas{
    margin-left: 20px;
    width: 200px;
    height: 80px;
    margin-top: 20px;
}
.list{
    display: inline-flex;
    max-width: 1200px;
    flex-wrap: wrap;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 10px;
    width: 235px;
    background-color: #9BBEC8;
}

.card img {
    width: 235px;
    height: 235px;
    border-radius: 5px;
    margin-left: 0px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-description {
    font-size: 14px;
    color: #666;
    padding-left: 10px;
    padding-right: 10px;
}

.card-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
    padding-left: 10px;
    padding-right: 10px;
}

.deskripsi, .spek, .isi{
    margin-left: 100px;
    margin-right: 100px;
}
.lainnya p{
    margin-left: 100px;
    font-size: 20px;
    letter-spacing: 2px;
}