body{
    margin: 0;
}
.container{
    width: 1500px;
    height: 100%;
}
.atas{
    display: inline-flex;
    width: 1400px;
    height: 100%;
    margin: 30px 0px 10px 40px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  #D9D9D9 42%, #c4c4c4 93.6% );;
}
.logo{
    width: 1300px;
}
.atas .logo p{
    display: inline-flex;
    float: right;
    font-size: 30px;
    align-items: center;
}
.logo img{
    width: 50px;
    height: 50px;
}
.atas p{
    width: 300px;
    font-size: 35px;
    letter-spacing: 2px;
    margin-left: 80px;
}

.pp img{
    width: 250px;
    height: 250px;
    background-color: #D9D9D9;
    margin-right: 20px;
}
.foto{
    display: inline-flex;
    width: 1300px;
    height: 260px;
    margin-left: 120px;
}
.desk{
    letter-spacing: 2px;
    font-size: 25px;
    margin-left: 150px;
    margin-right: 350px;
}
.confirm{
    margin-top: 65px;
    text-align: center;
    width: 230px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
}
.confirm:hover{
    background-color: #c4c4c4;
}
.confirm a{
    font-size: 23px;
    color: black;
    text-decoration: none;
}
.data{
    display: inline-block;
    margin-top: 40px;
    margin-left: 120px;
    font-size: 25px;
}
.usn{
    display: inline-flex;
}
.usn p{
    margin-left: 138px;
    margin-top: 30px;
}
.kelompok1{
    display: inline-flex;
    height: 50px;
}
.kelompok1 input{
    width: 500px;
    height: 40px;
    margin-left: 130px;
    border-radius: 10px;
}
.kelompok2{
    display: inline-flex;
    height: 50px;
}
.kelompok2 input{
    width: 500px;
    height: 40px;
    margin-left: 100px;
    border-radius: 10px;
}
.kelompok3{
    display: inline-flex;
    height: 50px;
}
.kelompok3 input{
    width: 500px;
    height: 40px;
    margin-left: 200px;
    border-radius: 10px;
}
.kelompok4{
    display: inline-flex;
    height: 50px;
}
.kelompok4 input{
    width: 500px;
    height: 40px;
    margin-left: 150px;
    border-radius: 10px;
}
.kelompok1 p{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.kelompok2 p{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.kelompok3 p{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.kelompok4 p{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.save{
    display: inline-flex;
    width: 230px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 120px;
    margin-top: 30px;
}
.save:hover{
    background-color: #c4c4c4;
}
.save a{
    color: black;
    text-decoration: none;
}